

.container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    background-image: url("../../content/assets/barn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


h1 {
    background-color: black;
    color: white;
    font-size: 2em;
    display: inline-block;
    padding: 1em;
    margin: 1em;
}